.footer-container {
  background-color: #000000;
  height: 170px;
  position: relative;
}

.social-logo {
  position: relative;
  display: block;
  margin: 0 auto;
  top: 40px;
  width: 250px;
  height: auto;
}

.cookies-text {
  color: #ffffff;
  margin-top: 55px;
  display: block;
  text-align: center;
  font-size: 18px;
  font-family: Poppins;
  font-weight: 300;
}

.cookies-text > p{
  color: #ffffff;
  margin-top: 55px;
  display: inline;
  text-align: center;
  font-size: 18px;
  font-family: Poppins;
  font-weight: 300;
}

.cookies-text > p:hover{
  cursor: pointer;
  text-decoration: underline;
}

.realizacao {
  color: #ffffff;
  position: absolute;
  display: block;
  text-align: center;
  font-size: 18px;
  font-family: Poppins;
  font-weight: 300;
  margin-top: -20px;
  right: 20px;
}

.realizacao > small {
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  font-family: Poppins;
  font-weight: 300;
}

.logo-ide {
  width: 100px;
  height: auto;


}