h1 {
  text-align: center;
}

.produtos-container {
  background-color: #ffffff;
  padding: 7vh 0 5vh 0;
}

.background_produtos {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #780000;
  color: #ffffff;
  font-size: 25px;
  font-family: 'Poppins';
  width: 25%;
  margin: 0 auto;
}

.background_abas {
  background: #780000;
  width: 50vw;
  margin: 50px auto;
}

.botao {
  display: inline-flex;
  justify-content: space-evenly;
  background-color: #780000;
  border: transparent;
  color: #ffffff;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
}

.produto {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.produto-texto {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  font-size: 20px;
  line-height: 30px;
}

.produto-preco {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.7rem;
  font-size: 16px;
  line-height: 17.44px;
  font-weight: 700;
  color: #ffffff;
  background: #780000;
  box-sizing: border-box;
  border-radius: 100%;
}

@media only screen and (min-width: 1200px) {
  .content__blog__container {
    width: 84%;
  }
}

@media only screen and (min-width: 1024px) {
  .cards__items {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .cards__item {
    margin-bottom: 2rem;
  }
}
