@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

.siga_nos {
  background: #4a0101;
  margin: 0;
  padding: 4rem 0 4rem 0;
}

.siga_nos-titulo {
  width: 50%;
  height: 60px;
  display: block;
  margin: 0 auto 2rem;
  font-size: 35px;
  font-family: Poppins;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  color: #ffffff;
}

.rect1,
.rect2,
.rect3 {
  position: relative;
  background: #ffffff;
  display: inline-flex;
  width: 20%;
  top: -5px;
  padding-top: 1rem;
  height: 80px;
}

.rect1:hover,
.rect2:hover,
.rect3:hover {
  cursor: pointer;
}

.rect1 {
  border-radius: 0px 0px 20px 0px;
  margin: 0 2% 0 16%;
}

.rect2 {
  border-radius: 0px 0px 20px 20px;
  margin: 0 2% 0 2%;
}

.rect3 {
  border-radius: 0px 0px 0px 20px;
  margin: 0 16% 0 2%;
}

.rect-text {
  margin: 0 auto;
  position: absolute;
  display: inline;
  font-size: 15px;
  font-family: "Poppins";
  width: 90%;
  top: 1rem;
  left: 5%;
}

.rect-text > b {
  margin: 0 auto;
  display: inline;
  font-size: 15px;
  font-family: "Poppins";
  width: 90%;
}

.rect-text > b:hover {
  text-decoration: underline;
}

.img1,
.img2,
.img3 {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 300px;
}

.img1 {
  border-radius: 20px 0px 0px 0px;
  width: 20%;
  max-width: 20%;
  height: auto;
  margin: 0 2% 0 16%;
}

.img2 {
  border-radius: 0px 0px 0px 0px;
  width: 20%;
  max-width: 20%;
  height: auto;
  margin: 0 2% 0 2%;
}

.img3 {
  border-radius: 0px 20px 0px 0px;
  width: 20%;
  max-width: 20%;
  height: auto;
  margin: 0 16% 0 2%;
}

.img1:hover,
.img2:hover,
.img3:hover {
  cursor: pointer;
}

@media screen and (max-width: 1400px) {
  .rect1,
  .rect2,
  .rect3 {
    height: 100px;
  }
}

@media screen and (max-width: 1200px) {
  .rect1,
  .rect2,
  .rect3 {
    height: 120px;
  }
}

@media screen and (max-width: 900px) {
  .rect-text {
    font-size: 1.5vw;
    top: 1.5vw;
  }

  .rect-text > b {
    font-size: 1.5vw;
    top: 1.5vw;
  }

  .rect1,
  .rect2,
  .rect3 {
    height: 12vw;
  }
}
