@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

.siga_nos {
    background: #4A0101;
    margin: 0;
    padding: 4rem 0 4rem 0;
    font-family: Poppins;
}

.siga_nos-titulo {
    display: inline-block;
    width: 50%;
    height: 60px;
    display: block;
    margin: 0 auto;
    padding-top: 10px;
    font-size: 30px;
    font-family: 'Poppins';
    font-style: normal;
    text-align: center;
    color: #ffffff;

}

.siga_nos-rect, .rect1, .rect2, .rect3 {
    background: #FFFFFF;
    display: inline-flex;
    font-size: 15px;
    text-align: justify;
    font-family: 'Poppins';
    width: 20%;
    margin: 0 6.66%;
    padding: 1rem;
}

.rect1 {
    border-radius: 0px 0px 15px 0px;
}

.rect2 {
    border-radius: 0px 0px 15px 15px;
}

.rect3 {
    border-radius: 0px 0px 0px 15px;
}

.img-default, .img1, .img2, .img3 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 300px;
    margin: 0 6.66%;
}

.img1 {
    border-radius: 10px 0px 0px 0px;
}

.img2 {
    border-radius: 0px 0px 0px 0px;
}

.img3 {
    border-radius: 0px 10px 0px 0px;
}