.sobre {
    background-color: #ffffff;
    margin: 0;
    padding: 4rem 0 4rem 0;
    font-family: Poppins;
}

.sobre-titulo {
    background-color: #780000;
    display: inline-block;
    width: 23.02vw;
    height: 3.25vw;
    display: block;
    margin: 0 auto;
    font-family: Poppins;
    font-weight: 700;
    font-size: 2.33vw;
    font-style: normal;
    text-align: center;
    line-height: 3.3vw;
    color: #ffffff;
}

.sobre-paragrafo {
    margin: 2.87vh 24.5vw;
    font-size: 1.63vw;
    text-align: justify;
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
}

.sobre-rect {
    background-color: rgba(156, 0, 0, 0.5);
    padding: 2rem 2rem 2rem 2rem;
    display: block;
    margin: 5% 25%;
    margin-right: 25%;
    font-size: 21px;
    text-align: justify;
    font-family: Poppins;
    font-style: italic;
}

.small-rect {
    background-color: rgb(156,0,0);
    padding: 3rem 0 3rem 0;
    font-size: 21px;
    width: 10px;
    display: block;
    margin-top: -20px;
    margin-left: 25%;
    margin-bottom: -12em;

}

img {
    width: 50%;
    margin: 0 25%;
}