.sobre {
    background-color: #ffffff;
    margin: 0;
    padding: 4rem 0 4rem 0;
    font-family: Poppins;
}

.sobre-titulo {
    background-color: rgb(156,0,0,1);
    display: inline-block;
    width: 250px;
    height: 60px;
    display: block;
    margin: 0 auto;
    font-size: 30px;
    padding-top: 10px;
    font-style: normal;
    text-align: center;
    color: #ffffff;
}

.sobre-paragrafo {
    margin: 5% 25%;
    font-size: 21px;
    text-align: justify;
    font-family: 'Verdana', sans-serif;
}

.sobre-rect {
    background-color: rgba(156, 0, 0, 0.5);
    padding: 2rem 2rem 2rem 2rem;
    display: block;
    margin: 5% 25%;
    margin-right: 25%;
    font-size: 21px;
    text-align: justify;
    font-family: 'Verdana', sans-serif;
    font-style: italic;
}

.small-rect {
    background-color: rgb(156,0,0);
    padding: 3rem 0 3rem 0;
    font-size: 21px;
    width: 10px;
    display: block;
    margin-top: -20px;
    margin-left: 25%;
    margin-bottom: -12em;

}

img {
    width: 50%;
    margin: 0 25%;
}